<!DOCTYPE html>
<html>
    <head>
        <title>Jiyong's Express Project</title>
    </head>
    <body>
        {{{body}}}
        <input type = "button" value = "Home" onclick = "location.href = '/' ">
        <input type = "button" value = "About" onclick = "location.href = 'about' ">
        <input type = "button" value = "chat" onclick = "location.href = 'chat' ">
        <p></p>
        <img src="/img/logo.jpg">
    </body>
</html>